*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    display: flex;
    justify-content: center;
    margin: 40px 0;
    gap: 81.656px;
    flex-wrap: wrap-reverse;
    max-width: 1100px;
    padding: 0 35px;
}



.first-container{
    flex-basis: 33.3333333333%;

}

.second-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 58.333%;
    flex-grow: 1;
}

.price-container{
    margin-top: 14px;
    padding-bottom: 10px;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: -.022em;
    line-height: 1.4705882353;
    color: #1d1d1f;
    flex-grow: 1;
}

.photos-variation{
    display: flex;
    list-style-type: none;
    gap: 23px;
    justify-content: center;
}
.photos-variation li{
    max-width: 38px;
}

.product-name{
    font-size: 32px;
    font-weight: 550;
    letter-spacing: .004em;
    line-height: 1.125;
    color: #1d1d1f;
}

.text-blue {
    color: #06c;
 }

.text-blue:hover {
    text-decoration: underline;
    cursor: pointer;
 }
 




.price-container *{
    padding: 4px 0 5px 0;
}

.selection-input{
    width: 94%;
    margin-top: 30px;
    border: solid 1px rgb(134, 134, 139);
    padding: 10px 20px 0 15px;
    border-radius: 12px;
    height: 56px;
}

 .price-container p:last-child {
    padding-top: 8px;
}

.circle{
   
}

.product-colors-container{
    padding-top: 18px;
    display: flex;
    list-style-type: none;
    gap: 10px;
}

.product-colors-container li{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.product-colors-container li img{
    border-radius: 50%;
        border: solid 2px white;
}

.selected-color{
    border: solid 2px #0071e3;
}

.color-selection-container{
    margin-top: 30px;
}


.color-selection-container p{
    height: 50px;
}

.details-bottom-half{
    margin-top: 30px;
    border-top: 1px solid rgb(210, 210, 215);
    border-bottom: 1px solid rgb(210, 210, 215);
}

.details-bottom-half > :first-child {
    margin-top: 20px;
}

.delivery-details-container{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    gap: 16px;
}

.delivery-details-container > div {
    display: flex;
    gap: 15px;
}

.buttons-container{
    display: flex;
    flex-direction: column;
    margin: 35px 0;
    gap: 16px;
}

.buttons-container > div{
    padding-top: 8px;
}

.save-later{
    display: flex;
    margin-top: 8px;
    align-items: center;
    gap: 5px;
}
.main-picture-container{
    max-width: 572px;
}

.select-input{
    border: none;
    background-color: white;
    width: 100%;
    margin-left: auto;
    font-size: 17px;
    line-height: 1.2353641176;
    letter-spacing: -.022em;
    font-weight: 400;

}

.apple-pay, .add-to-bag{
    height: 36px;
    padding: 8px 15px;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.016em;
    line-height: 1.28577;
}

.apple-pay{
    background-color: black;
    
}

.apple-pay, .add-to-bag, .select-input{
    cursor: pointer;
}

.add-to-bag:hover, .apple-pay:hover{
    opacity: 0.9;
}
.add-to-bag{
    background-color: #0071e3;
    width: 100%;
}

img{
    width: 100%;
    height: auto;
}

.font-increase, .need-moment-container{
    color: #1d1d1f;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -.016em;
    line-height: 1.4285914286;
}

.need-moment-container p:first-child {
    font-weight: 600;
}

.color-selection-container p:first-child{
    letter-spacing: -.022em;
    font-size: 17px;
    font-weight: 600;
    line-height: 1.4705882353;
    color: #1d1d1f;
    min-height: 50px;
}

.selection-input p:first-child{
    color: #6e6e73;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.3333733333;
    letter-spacing: -.01em;
}

.selected-picture{
    border-bottom: 2px solid #6e6e73;
}

@media (max-width: 1067px) {
    .first-container {
        flex-basis: 100%;
    }
    
    .second-container {
        max-width: 100%;
    }
    
    main {
        gap: 40px;
    }
   
}

