/* The 2nd row has slightly lower height than the top one, when reaching 736px in width the top should occupy two columns,*/
/* max width: 704.233; max height: 674.190, W:347.571, H:674.190 */
/* bottom W:347.571 H:537.969 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.main-container{
    display: flex;
    flex-flow: wrap;
    width: 1070px;
    gap:10px;
    justify-content: center;
    margin: 20px 0px;
}
.product-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f7;
    max-width: 348px;
    width: 348px;
    flex-grow: 1;
    border-radius: 20px;
    padding: 26px 40px 26px 40px;
    text-align: center;
}
.product-container.one{
    max-height: 675px;
}

.product-container.two{
    max-height: 675px;
    max-width: 705px;
    width: 705px;
    height:675px;
}