/* The 2nd row has slightly lower height than the top one, when reaching 736px in width the top should occupy two columns,*/
/* max width: 704.233; max height: 674.190, W:347.571, H:674.190 */
/* bottom W:347.571 H:537.969 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom-link, .title {
    margin: 30px;
    text-align: center;
}
.bottom-link{
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.4705882353;
    color: #06c;
}
.bottom-link:hover {
    text-decoration: underline;
}

.title{
    font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1.1;
    color: #1d1d1f
}
.main-container{
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    display: flex;
    flex-flow: wrap;
    flex-basis: 1070px;
    max-width: 1090px;
    gap:10px;
    justify-content: center;
    margin: 20px 0px;
    padding: 0px 10px;
}
.product-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #f5f5f7;
    flex-basis: 348px;
    max-width: 348px;
    flex-grow: 1;
    border-radius: 20px;
    padding: 40px 40px 34px 40px;
    text-align: center;
    color: #1d1d1f;

}

.product-container > p{
    margin-top: auto;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42859;
    letter-spacing: -0.016em;

}



.product-container.two{
    max-width: 705px;
    flex-basis: 705px;
    height:675px;
    padding: 34px 0 34px 0;
}


.product-container.one .image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 467px;
}

.product-container.two .image-container{
    height: 452px;
    width: 100%;
}
.product-container-divider{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 40px;
}
/* actual content 34. 54 ang actual size sa overall */

.product-colors-container{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    height: 28px;
    gap: 10px;
}
.product-colors-container li{
    display: flex;
    align-items: center;
    justify-content: center;
}


.product-container-divider.one{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 84px;
    margin-bottom: 20px;
}
.product-container-divider a{
    text-decoration: none;
}

.product-name:hover {
    color: #06c;
    text-decoration: underline;
}

.new-txt{
    font-size: 12px;
    font-weight: 600;
    line-height: 1.3333733333;
    letter-spacing: -.01em;
    color: #b64400;
}

.product-name{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -.016em;
    line-height: 1.4285914286;
    color: #1d1d1f;
}

@media (max-width: 1098px) {

    .title{
        font-size: 32px;
    }
    .product-container.two{
        order:-1;
        padding: 40px;
    }

    .main{
        padding: 0px 40px;
    }

    .product-container.one .image-container{
        height: 291px;

    }
    .image-container.three{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 291px;
    }
}

@media (max-width: 740px) {

    .title{
        font-size: 28px;
    }
    .product-container.two{
        max-width: 80%;
        height: 489px;
    }

    .product-container.two .image-container{
        width: 266px;
        height: 231px;
    }

    .product-container{
        max-width: 80%;
    }
}